
.cardx {
    perspective: 800px;

    $border-radius: 7px;

    .card-content {
        // background: url("./images/bg.jpg");

        border: 1px solid rgba(0, 0, 0, .25);
        border-radius: $border-radius;
        box-shadow: 7px 7px 7px rgba(0, 0, 0, .1);

        transform: rotateY(0);

        $transition-delay: .2s;

        &.turning {
            transform: rotateY(90deg);
            // box-shadow: 0px 0px 0px #888888;
            transition: $transition-delay;
            box-shadow: 7px 7px 7px rgba(0, 0, 0, 0);
        }
        &.turned {
            transform: rotateY(180deg);            
            // box-shadow: 0px 0px 0px #888888;
            // transition-delay: 2s;
            transition: 0.5s;
            box-shadow: -7px 7px 7px rgba(0, 0, 0, .1);
        }
        &.turningBack {
            transform: rotateY(-1deg);
            // box-shadow: 0px 0px 0px #888888;
            transition: 0.8s;
        }

        .card-image {
            transform: rotateY(180deg);
            border-radius: $border-radius;
            width: 275px;
            height: 180px;
    
        }
    }    
}
