.card-view {
    min-width: 1500px;
    max-width: 1500px;
    margin: auto;

    .click-counter {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;

        .count {
            min-width: 3.5rem;
            max-width: 3.5rem;
        }

        padding: 1rem 0 3rem;
    }

    &.disabled {
        pointer-events: none;
    }

    .card-content {
        display: inline-block;
        margin: .5rem;  
        opacity: 1;

        cursor: pointer;
        
        &.hidden {
            // visibility: hidden;

            transition: .5s;
            opacity: 0;
        }

        &.open {
            pointer-events: none;
            cursor: default;
        }
    }
}