.card{
    border: 1px solid rgb(45, 45, 59);
    border-radius: 7px;
    box-shadow: 5px 10px 8px #888888;
    width: 275px;
    height: 180px;
    background: url("./images/bg.jpg");

    .turning{
        // transform: rotateY('90');
        border: 3px solid red;
    }
}